@import "tailwindcss";

:root {
  --color-primary:    #111111;
  --color-red:        #a71225;
  --color-white:      #ffffff;
  --color-gray-bg:    #f7f7f7;
  --color-gray-light: #f0f0f0;
  --color-border:     rgba(0,0,0,0.08);
  --color-text-muted: #777777;
}

body {
  background: #ffffff;
  color: #111111;
  font-family: 'Tajawal', sans-serif;
}
